 body {
     background: #443131;
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 14px;
     color: #000;
     margin: 0;
     padding: 0;
 }

 .swiper-container {
     width: auto;
     padding-top: 50px;
     padding-bottom: 50px;
 }

 .swiper-slide {
     background-position: center;
     background-size: cover;
     width: 360px;
     height: 640px;
     background: #fff;
     overflow: hidden;
 }

 .slider-img {
     width: 100%;
     height: 100%;
 }

 .header-link {
     color: white;
     font-size: 100px;
     text-align: center;
 }

 .header {
     padding-top: 50px;
     text-align: center;
 }

 .slider2 {
     width: 1200px;
     margin: 0 auto;
 }

 .slider3 {
     width: 1200px;
     margin: 0 auto;

     padding-bottom: 200px;
 }